// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* typography */

h1.title {
  font-family: Marion;
  font-size: 48px;
  margin: 3px;
  font-weight: bold;
}

h3.orange {
  color: #e06d35;
  margin-top: 3px;
}

/* position */

.center {
  text-align: center;
}

.row.last {
  margin-bottom: 50px;
}

/* carousal */

.carousel {
  width: 400px;
  margin: 10px;
  .item {
    height: 300px;
  }
}

/* other */

.bubble {
  position: fixed;
  top: 50px;
  right: -40px;
  display: inline;
}


input {
  background-color: #b8ddee;
}
