<div class="container">
  <p>Vítej v mladiinfo social<%= @email %>!</p>

  <p> Svůj email prosím potvrdť pomocí tohoto odkazu </p>

  <p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
</div>