<div class="container">
  <p>Ahoj <%= @resource.email %>!</p>

  <p>Někdo si vyžádal změnu hesla k tvému účtu na mladiinfo social. Změnu můžeš provést na tomto odkaze. </p>

  <p><%= link_to 'Změnit heslo', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

  <p>Jestliže jsi to nebyl ty, prosím ignoruj tuto zprávu</p>
  <p>Tvé heslo se nezmění dokavaď nepotvrdíš nové.</p>
</div>